.bg-color-1 {
    background-color: #5D8736;
}

.bg-color-2 {
    background-color: #809D3C;
}

.bg-color-3 {
    background-color: #A9C46C;
}

.bg-color-4 {
    background-color: #b4e8b5;
}